<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.name %></title>
  </head>
  <body>
    <table>
      <tr>
        <td>Student ID:</td>
        <td><%=data.id %></td>
      </tr>
      <tr>
        <td>Student Name:</td>
        <td>
          <%=data.name %>
        </td>
      </tr>
      <tr>
        <td>Student Age:</td>
        <td>
          <%=data.age %>
        </td>
      </tr>
      <tr>
        <td>Student Scholarship(Merit):</td>
        <td>
          <%=data.scholarship.merit %>
        </td>
      </tr>
      <tr>
        <td>Student Scholarship(Other)</td>
        <td>
          <%=data.scholarship.other %>
        </td>
      </tr>
    </table>
    <a href="/students">Back to the student page.</a>
  </body>
</html>
